html {
}

body {
font-family: "Quicksand";
}

/* header */

.rosegarden {
background: url("rosegarden.jpg") no-repeat center;
background-size: cover;
width: 100%;
height: 100%;
z-index: -5000;
position: absolute;
}

.container {
width: 100%;
height: 100%;
}

.header {
position: fixed;
z-index: 1000;
font-family: "Raleway";
}

.navbar {
display: none;
background-color: #ffffff;
width: 100%;
padding: 15px;
}

.navbar-fixed-top {
border-bottom: 1px ridge #000000;
}

/*main-menu*/

.menu {
float: right;
}

.menu li {
margin-left: 10px;
margin-right: 10px;
}

.menu li a {
color: #65000B;
}

.menu li a:hover {
color: #ffffff;
background-color: #65000B;
}

/*dropdown-menu*/

.dropdown-toggle {
position: fixed;
top: 0;
left: 0;
padding: 15px;
display: none;
background-color: #000000;
}

.dropdown-toggle:hover {
background-color: #ff6c00;
}

.dropdown-menu {
left: 20px;
background-color: #ffffff;
}

.dropdown-menu li a {
color: #000000;
}

.dropdown-menu li a:hover {
color: #ffffff;
background-color: #ff6c00;
}

/*content text*/

.content {
top: 100px;
position: fixed;
opacity: 0.9;
}

.content h1 {
color: #ffffff;
font-size: 80px;
font-weight: 500;
text-shadow: 2px 2px #000000;
}

.footer h1 {
font-size: 80px;
font-weight: 500;
padding: 0px;
margin: 0;
}


@media only screen and (min-width: 768px) {
	.navbar {
		display: inline;
	}
	
	.content {
		top: 150px;
	}
}